* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    background-color: #006241;
    color:#fff ;
}

.header{
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.68);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo {
    width: 30px;
}

.header__conteiner-nav, 
.header__conteiner-user {
   display: none;
}

.header__conteiner-user-mobile i {
    color: #fff;
    font-size: 25px;
}

.main__image {
    display: none;
}

.main {
    margin-top: 80px;
    padding: 15px 15px 60px;   
}

.main__title {
   font-size: 50px ;
   line-height: 1.2;
}

.main__title span{
    color: #006241;
}

.main__text {
    /* font-weight: bolder; */
    margin-top: 20px;
}

.main__description {
    display: flex;
    flex-direction: column;
}

.gallery {
    background: #006241; 
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.gallery__image {
    width: 75%;
    margin-top: 15px;
    /* height: 250px; */
}

.contact {
    background: #1a1a1a;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    color: #006241;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.contact__form {
    background: #006241;
    padding: 15px;
    color: #fff;
    width: 280px;
}

.contact__input {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contact__input label {
    font-size: 14px;
    margin-bottom: 10px;
}

.contact__input input::placeholder,
.contact__input textarea::placeholder {
    font-size: 12px;
    color: #006241;
    /*font-weight: bolder;*/
}

.contact__input input,
.contact__input textarea {
   padding: 10px;
   border-radius: 8px;
   border: 0;
}

.contact__input input:focus,
.contact__input textarea:focus {
   background: #000;
}

.contact__btn {
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 45%;
    margin-top: 20px;
    border-radius: 8px;
    padding: 4px 0;
    transition: all 1s
}

.contact__btn:hover {
    background: #ffff00b9;
    border: 1px solid #ffff00b9;
}

.cards__card {
    background: #006241;
    margin-top: 15px;
    color: #fff;
    position: relative;
    width: 90%;
    margin-top: 35px;
}

.cards {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__card-image {
    width: 100%;
}

.cards__card-title span {
    color: #e9e901;
}

.cards__card-conteiner-text {
    padding: 5px 15px;
}

.cards__card-description {
    font-size: 14px;
    margin: 7.5px 0;
}

.cards__card-btn {
    background: inherit;
    border: 1px solid #fff;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    padding: 5px 0;
    transition: all 1s;
    margin-bottom: 15px;
    text-align: center;
}

.cards__card-btn:hover {
    background: #ffff00b9;
    border: 1px solid #ffff00b9;
}

/* .card_conteiner-btn a - utilce div ni anclas */

.cards__card-circle {
    background: #e9e901;
    width: 65px;
    height: 65px;
    color: #000;
    font-weight: bolder;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: -25px;
}

.footer {
    background: #000;
    padding: 25px 15px;
}

.footer__conteiner-user {
    display: flex;
    flex-direction: column;
}

.footer__user {
    color: #006241;
    text-decoration: none;
    font-size: 20px;
}

.footer__conteiner-redes{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.footer__conteiner-redes i {
    color: #006241;
    font-size: 22px;
}

.footer__contact {
    text-decoration: none;
    color: #ffff00b9;
}
